.main{
    border: 10px solid black;
    height: 300px;
    width: 600px;
}
.a{
    height: 100px;
    width: 600px;
    background-color: rgb(255, 255, 255);
}
.b{
    height: 100px;
    width: 600px;
    background-color: rgb(0, 166, 81);
}
.c{
    height: 100px;
    width: 600px;
    background-color: rgb(237, 28, 36);
}
.e{
    height: 100px;
    width: 600px;
    background-color: rgb(237, 27, 36);
}
.f{
    height: 100px;
    width: 600px;
    background-color: rgb(255, 255, 255);
}
.g{
    height: 100px;
    width: 600px;
    background-color: rgb(0, 166, 82);
}
.h{
    height: 100px;
    width: 600px;
    background-color: rgb(158, 6, 33);
}
.i{
    height: 100px;
    width: 600px;
    background-color: rgb(255, 255, 255);
}
.j{
    height: 100px;
    width: 600px;
    background-color: rgb(158, 6, 33);
}